body {
    font-family: -apple-system, Helvetica, Tahoma, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* By default, every list item has a padding of 20 so we're changing that to 0
 for the entire application */
ul {
    padding: 0;
}

/* By default in our entire application, for list items, don't use bullet points */
li {
    list-style-type: none;
}

.languages {
    display: flex; /* display as a row horizontally*/
    justify-content: center; /* center all items horizontally */
}

.languages li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

.popular-list {
    display: flex; /* display as row horizontally */
    flex-wrap: wrap; /* creates grid effect */
    justify-content: space-around; /* space out individual items in the list evenly horizontally*/
}

.popular-item {
    margin: 20px;
    text-align: center;
}

.space-list-items {
    margin-bottom: 7px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.popular-rank {
    font-size: 20px;
    margin: 10px;
}